{#
@file
A content block that can be used in the sidebar to list links, files or link to a prefiltered search page

Available variables:
    - variant: 'list'|'archive'|'search' The button type
    - title: 'string An h2 that appears at the top of the component
    - links: array An array of links or file download links to be displayed in the nav component
        - url: string The url for the link/file
        - label: string The label for the link or filename
        - newTab: boolean Will this link open in a new tab?
        - format: 'PDF'|'ZIP'|'DOC' The file format
        - filesize: string The size of the file
        - language: string The language of the file if different to the language of the page
    - search: object Parameters to be passed to the search bar component, if it's to be displayed
        - id: string A unique id
        - action: string The form action,
        - input: object Parameters to be passed to the text input component
            - id: string A unique id
            - labelHidden: boolean Should the label be displayed,
            - label: string The label text,
        },
        button: object Parameters to be passed to the button component {
            text: string The button text,
        },
example:
    {% include '@components/sidebar-block/sidebar-block.html.twig' with {
    variant: 'list',
    title: 'Related pages',
    links: [
        {
            url: '#',
            format: 'PDF',
            filesize: '167 KB',
            label: 'CPR email address list',
        },
        {
            url: '#',
            format: 'PDF',
            filesize: '100 KB',
            label: 'CPR email address list',
            language: 'Welsh',
        },
        ],
    }%}
#}

{% set titleId = "sidebar-block-title-" ~ title|replace({' ': '-'})|lower ~ (isMobile ? "-mobile" : "") %}
{% set contentId = "sidebar-block-content-" ~ title|replace({' ': '-'})|lower ~ (isMobile ? "-mobile" : "") %}
{% if variant == 'brand' %}
    {# Use a background image as this is decorative and shouldn't appear to screen readers #}
    <div class="sidebar-block sidebar-block--{{ variant }}">
    </div>
{% else %}
<section class="sidebar-block sidebar-block--{{ variant }}" aria-labelledby="{{ titleId }}" role="complementary">
    <div class="sidebar-block__heading-wrapper">
        <h2 class="sidebar-block__heading" id="{{ titleId }}">
            <span class="sidebar-block__heading-text{{ variant == "archive" ? " sidebar-block__heading-text--archive" : "" }}">{{ title }}</span>
            <button class="sidebar-block__heading-button" aria-controls="{{ contentId }}">
                {{ title }}
            </button>
        </h2>
    </div>
    <div id="{{ contentId }}" class="sidebar-block__content">
        {% if links is not empty %}
            <ul class="sidebar-block__list">
                {% for link in links %}
                    <li>
                        {% if link.format %}
                            {% include '@components/file-download/file-download.html.twig' with {
                                format: link.format,
                                link: link.link,
                                filesize: link.filesize,
                                filename: link.filename,
                                language: link.language,
                            } %}
                        {% else %}
                            {% include '@components/link/link.html.twig' with {
                                newTab: link.newTab,
                                url: link.url,
                                label: link.label,
                            } %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% elseif variant == 'form' %}
            {% if description %}
                <p class="sidebar-block__description">{{ description }}</p>
            {% endif %}
            {% include '@components/text-input-form/text-input-form.html.twig' with {
                id: form.id,
                action: form.action,
                name: form.name,
                input: form.input,
                button: form.button,
                hiddenInputs: form.hiddenInputs,
            } %}
        {% elseif variant == 'search-filter' %}
            <form
                class="sidebar-block__search-filter {{ noQuery ? " sidebar-block__search-filter--disabled" : "" }}"
                {{ noQuery ? " aria-describedby='no-query-hint'" : "" }}>
                <p class="sidebar_block__search-filter-subtitle" {{ noQuery ? " id='no-query-hint'" : "" }}>
                    {{ noQuery ? 'Please enter a search query to use filters' : subtitle }}
                </p>
                <div class="sidebar-block__search-filter-fields">
                    {% for field in fields %}
                        {% if field.options is not empty %}
                            <div class="sidebar-block__search-filter-field">
                                {% include '@components/selection-input/selection-input.html.twig' with {
                                    type: field.type,
                                    direction: field.direction,
                                    title: field.title,
                                    group: field.group,
                                    defaults: field.defaults,
                                    options: field.options,
                                    disabled: noQuery ? true : field.disabled,
                                    error: field.error,
                                } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for input in hiddenInputs %}
                        <input type="hidden" name="{{ input.name|e('html') }}" value="{{ input.value|e('html') }}">
                    {% endfor %}
                </div>
                <div class="sidebar-block__search-filter-buttons">
                    <div class="sidebar-block__search-filter-reset">
                        {% include '@components/button/button.html.twig' with {
                            variant: 'light',
                            type: 'input',
                            inputType: 'reset',
                            buttonText: 'Clear filters',
                            disabled: noQuery,
                        } %}
                    </div>
                    <div class="sidebar-block__search-filter-submit">
                        {% include '@components/button/button.html.twig' with {
                            variant: 'primary',
                            type: 'input',
                            inputType: 'submit',
                            buttonText: 'Apply filters',
                            disabled: noQuery,
                        } %}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</section>
{% endif %}
