{#
@file
A file (pdf) for download

Available variables:
    - format: 'PDF'|'ZIP'|'DOC' The file format
    - link: string The link to the file
    - filename: string The name of the file
    - filesize: string The size of the file
    - language: string The language of the file if different to the language of the page
example:
    {% include '@components/file-download/file-download.html.twig' with {
        format: 'PDF',
        link: '#',
        filename: 'User manual',
        filesize: '120 KbB',
        language: 'Welsh'
    }%}
#}

{% set range = range(startRange, endRange) %}

<nav id="pagination" class="pagination" aria-label="pagination">
    <ul class="pagination__list">
        <li class="pagination__link-wrapper pagination__link-wrapper--previous">
            {% if currentPage == 1 %}
                <a class="pagination__link disabled" role="link" aria-disabled="true">«<span class="pagination__link-text"> Previous</span></a>
            {% else %}
                <a class="pagination__link" href="{{ previous }}">«<span class="pagination__link-text"> Previous</span></a>
            {% endif %}
        </li>
        <li class="pagination__link-wrapper">
            <ul class="pagination__list pagination__sublist">
                {% for page in range %}
                    {% if page == (range.length // 2)|round(1, 'floor') %}
                        Middle
                    {% else %}
                        <li class="pagination__link-wrapper">
                            {% if page == currentPage %}
                                <a class="pagination__link disabled" role="link" aria-disabled="true"
                                   aria-current="page">{{ page }}</a>
                            {% else %}
                                <a class="pagination__link" href="{{ page }}">{{ page }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="pagination__link-wrapper pagination__link-wrapper--next">
            {% if current_page == pages|length %}
                <a class="pagination__link disabled" role="link" aria-disabled="true"><span class="pagination__link-text">Next </span>»</a>
            {% else %}
                <a class="pagination__link" href="{{ next }}"><span class="pagination__link-text">Next </span>»</a>
            {% endif %}
        </li>
    </ul>
</nav>
