{#
@file
A pager for lists of results, e.g. search

Available variables:
    - previous: string The url to go back a page
    - next: string The url to go forwards
    - pages: array An array of page links to be displayed
        - title: string The title of the page (usually a number)
        - link: string The link to go to that page
        - current: boolean Whether this is the current page
example:
    {% include '@components/pagination/pagination.html.twig' with {
        previous: '#',
        next: '#',
        pages: [
            {
                title: '1',
                link: '#',
                current: true,
            },
            {
                title: '2',
                link: '#',
            },
            {
                title: '3',
                link: '#',
            },
            {
                title: '...',
            },
            {
                title: '12',
                link: '#',
            }
        ]
    }}%}
#}

<nav id="pagination" class="pagination" aria-label="pagination">
    <ul class="pagination__list">
        <li class="pagination__link-wrapper pagination__link-wrapper--previous">
            {% if previous %}
                <a class="pagination__link pagination__link--previous" href="{{ previous }}">
                    <span class="pagination__link-arrow" aria-hidden="true">«</span>
                    <span class="pagination__link-text">Previous</span>
                </a>
            {% else %}
                <a class="pagination__link pagination__link--previous disabled" role="link" aria-disabled="true">
                    <span class="pagination__link-arrow" aria-hidden="true">«</span>
                    <span class="pagination__link-text">Previous</span></a>
            {% endif %}
        </li>
        <li class="pagination__link-wrapper">
            <ul class="pagination__list pagination__sublist">
                {% if pages|length < 1 %}
                    <li class="pagination__link-wrapper">
                        <a class="pagination__link disabled" role="link" aria-disabled="true"
                           aria-current="page">1</a>
                    </li>
                {% else %}
                    {% for page in pages %}
                        <li class="pagination__link-wrapper">
                            {% if page.current %}
                                <a class="pagination__link disabled" role="link" aria-disabled="true"
                                   aria-current="page">
                                    {{ page.title }}
                                </a>
                            {% elseif page.link is empty %}
                                <a class="pagination__link disabled" role="link" aria-disabled="true">
                                    {{ page.title }}
                                </a>
                            {% else %}
                                <a class="pagination__link" href="{{ page.link }}">{{ page.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li class="pagination__link-wrapper pagination__link-wrapper--next">
            {% if next %}
                <a class="pagination__link pagination__link--next" href="{{ next }}">
                    <span class="pagination__link-text">Next</span>
                    <span class="pagination__link-arrow" aria-hidden="true">»</span>
                </a>
            {% else %}
                <a class="pagination__link pagination__link--next disabled" role="link" aria-disabled="true">
                    <span class="pagination__link-text">Next</span>
                    <span class="pagination__link-arrow" aria-hidden="true">»</span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
