{#
@file
A file (pdf) for download

Available variables:
    - variant: 'block'|'inline' The display variant of the component
    - format: 'PDF'|'ZIP'|'DOC' The file format
    - link: string The link to the file
    - filename: string The name of the file
    - filesize: string The size of the file
    - language: string The language of the file if different to the language of the page
example:
    {% include '@components/file-download/file-download.html.twig' with {
        variant: 'inline'
        format: 'PDF',
        link: '#',
        filename: 'User manual',
        filesize: '120 KbB',
        language: 'Welsh'
    }%}
#}

{% if variant == "inline" %}
    <span class="file-download file-download--inline">
{% else %}
    <div class="file-download file-download--block">
{% endif %}
    <i class="file-download__icon icon-{{ format|lower }}--{{ variant == "inline" ? "em" : "sm"}}" aria-hidden="true"></i>
    <a class="file-download__link" href={{ link }}>
        <span class="file-download__prefix visually-hidden">Download</span>
        {{ filename }}
    </a>
    {% if format %}
        <span class="file-download__details">({{ language ? language ~ ", " : "" }}{{ format }}{{ filesize ? ", " ~ filesize : "" }})</span>
    {% endif %}
{% if variant == "inline" %}
    </span>
{% else %}
    </div>
{% endif %}
