{#
@file
A file (pdf) for download

Available variables:
    - format: 'PDF'|'ZIP'|'DOC' The file format
    - link: string The link to the file
    - filename: string The name of the file
    - filesize: string The size of the file
    - language: string The language of the file if different to the language of the page
example:
    {% include '@components/file-download/file-download.html.twig' with {
        format: 'PDF',
        link: '#',
        filename: 'User manual',
        filesize: '120 KbB',
        language: 'Welsh'
    }%}

    TODO
    [ ] Find and test all places where this file is included

#}<a class="file-download" href={{ link }}>
    {{- "" -}}
    <i class="file-download__icon icon-{{ format|lower }}--em" aria-hidden="true"></i>
    {{- "" -}}

    <span class="file-download__prefix visually-hidden">Download</span>

    {{- "" -}}
    <span class="file-download__words">
        {{- filename -}}

        {%- if format -%}
            {{- " " -}}({{ language ? language ~ ", " : "" }}{{ format }}{{ filesize ? ", " ~ filesize : "" }})
        {%- endif -%}
    </span>
    {{- "" -}}

{# Keep the following HTML comment, it assists in removing file details that an editor has input into the content editor  #}
{# It is used to identify the end this component, subsequently we can safely remove a duplicate string of "(PDF)". #}
<!-- /.file-download -->
</a>