{#
@file
A link element

Available variables:
    - newTab: boolean Whether the link will open in a new tab
    - newTabVisuallyHidden: string Whether the 'open in a new tab' text should only be shown to screen readers.
                            Generally should be false, but can be used in special cases like menus.
    - external: boolean Whether the link is to an external site
    - onClick: string A js function to run on click
    - url: string The url for the link
    - label: string The label for the link
    - manualNewTabText: boolean If the link text already makes reference to it opening in a new window/tab (only
                                required with a CMS and rich text components)
    - ariaCurrent: string Value for the aria-current property
example:
    {% include '@components/link/link.html.twig' with {
        newTab: true,
        onClick: 'gtag && gtag("event", "page_view", { page_title: "Courts", page_location: "/offenders" });'
        url: 'https://google.com',
        label: 'Click here',
        ariaCurrent: 'page'
    }%}

Developer notes:
    - Since this is an inline element, there are intentionally no newlines before and after the element.
    - Since this is an inline element, `{{-`, `-}}`, `{%-` and `-%}` template tags have been used to strip whitespace.
#}<a
    class="link{{ newTab ? " link--new-tab" : "" }}{{ external ? " link--external" : "" }}"
    href="{{ url }}"
    {{ newTab ? " target='_blank' rel='noreferrer noopener'" : "" }}
    {{ onClick ? " onclick='" ~ onClick ~ "'" : "" }}
    {{ ariaCurrent ? " aria-current='#{ariaCurrent|e('html_attr')}'" }}
>
    {{- label -}}
    {%- if newTab -%}
        <span class="link__new-tab-suffix{{ newTabVisuallyHidden ? " visually-hidden" }}"> (opens in a new tab)</span>
    {%- endif -%}
</a>