{#
@file
A link element

Available variables:
    - newTab: boolean Whether the link will open in a new tab
    - newTabVisuallyHidden: string Whether the 'open in a new tab' text should only be shown to screen readers.
                            Generally should be false, but can be used in special cases like menus.
    - onClick: string A js function to run on click
    - url: string The url for the link
    - label: string The label for the link
    - manualNewTabText: boolean If the link text already makes reference to it opening in a new window/tab (only
                                required with a CMS and rich text components)
example:
    {% include '@components/link/link.html.twig' with {
        newTab: true,
        onClick: 'gtag && gtag("event", "page_view", { page_title: "Courts", page_location: "/offenders" });'
        url: 'https://google.com',
        label: 'Click here'
    }%}

Developer notes:
    - Since this is an inline element, there are intentionally no newlines before and after the element.
    - Since this is an inline element, `{{-`, `-}}`, `{%-` and `-%}}` template tags have been used to strip whitespace.
#}<a
    class="link{{ newTab ? " link--new-tab" : "" }}"
    href="{{ url }}"
    {{ newTab ? " target='_blank' rel='noreferrer noopener'" : "" }}
    {{ onClick ? " onclick='" ~ onClick ~ "'" : "" }}
>
    {{- label -}}
    {%- if newTab and newTabVisuallyHidden -%}
        <span class="visually-hidden"> (opens in a new tab)</span>
    {%- elseif newTab and not manualNewTabText -%}
        {{- " (opens in a new tab)" -}}
    {%- endif -%}
</a>