<a class="link{{ newTab ? " link--new-tab" : "" }}" href="{{ link.url }}" {{ newTab ? "target='_blank' rel='noreferrer noopener'" : "" }}>
    {{ link.label }}{{ newTab ? " (opens in new tab)" : "" }}
</a>
