{#
@file
A search bar block for a search page. Includes the number of results, filters and a 'did you mean?' suggestion

Available variables:
    - results: int The number of results
    - filters: array An array of sort filters
        - selected: boolean Whether the filter is currently selected
        - label: string The label for the filter
        - url: string The link to apply the filter
    - didYouMean: array A suggested alternative search term
        - term: string The alternative term
        - url: string The url to search again with the new term
    - search: array The variables for the text-input component
example:
    {% include '@components/search-bar-block/search-bar-block.html.twig' with {
            search: {
            action: '/',
            id: 'search-main'
            input: {
                labelHidden: true,
                label: 'Search',
                id: 'search-main-input',
            },
            button: {
                variant: 'primary',
                type: 'input',
                inputType: 'submit',
                buttonText: 'Search'
            }
        }
    }%}
#}
<div class="search-bar-block">
    <div class="search-bar-block__wrapper">
        <div class="search-bar-block__search">
            {% include '@components/text-input-form/text-input-form.html.twig' with {
                action: search.action,
                id: search.id,
                input: search.input,
                button: search.button,
                hiddenInputs: search.hiddenInputs,
            } %}
        </div>
        {% if results %}
            <div class="search-bar-block__results">
                <p class="search-bar-block__results-text">{{ results }} result{{ results > 1 ? "s" : "" }}</p>
            </div>
        {% endif %}
    </div>
    {% if filters and results > 1 %}
        <div class="search-bar-block__filters-wrapper">
            <p class="search-bar-block__filters-text">Sort by:</p>
            <div class="search-bar-block__filters">
                {% for filter in filters %}
                    {% if filter.selected %}
                        <a class="search-bar-block__filter disabled" role="link" aria-current="page"
                           aria-disabled="true">{{ filter.label }}</a>
                    {% else %}
                        <a class="search-bar-block__filter" href="{{ filter.url }}">{{ filter.label }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if didYouMean %}
        <div class="search-bar-block__did-you-mean">
            <p>Did you mean: <a href="{{ didYouMean.url }}">{{ didYouMean.term }}</a>?</p>
        </div>
    {% endif %}
</div>
